body {
    background-color:#34A0A4;
}

header{
    background-color:#1A759F;
}

nav a:hover{
    background-color:#76C893;
}

.book, .join{
    background-color:#FFD60A;
}

.book:hover{
    background-color:#76C893;
}

.msg{
    background-color:#168AAD;
}

footer{
    background-color:#184E77;
}  

#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background{
    height: 725px;
}

nav a{
    text-align: center;
}

#hero-msg h1, #hero-msg h4{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}