#content {
    max-width: 1600px;
    margin: 0 auto;
}

#background{
    height: 725px;
}

nav a{
    text-align: center;
}

#hero-msg{
    text-align: center;
}

.button-box{
    text-align: center;
}

main section{
    text-align: center;
}